.page-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #F3F3F3;
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 56px;
        line-height: 60px;
    }
}

@media (max-width: 768px) {
    .page-title {
        font-size: 32px;
        line-height: 38px;
    }
}