@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  /* background: linear-gradient(
    135deg,
    rgba(64, 112, 205, 1) 9%,
    rgba(10, 10, 17, 1) 58%
  ); */
  overflow-x: hidden;
  background-color: #0A0A11;
  box-sizing: border-box;
  /* background-image: url('./assets/background.png'); */
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;

  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #434d67;
  /* background: #f3f3f3; - for light theme */
  border-radius: 20px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
